.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    margin-right: 30px;
}

/* Horizontal nav links */
.nav-links{
    display:flex;
    justify-content:space-around;
    width: 30%;
    z-index: 1000;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.nav-links a:hover{
    color: orange;
}

/* User info area */
.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout {
    background-color: red;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
}

.logout:hover {
    background-color: darkred;
}
